<div class="form_container py-10" >

    <h1 class="text-gray-700">EDIT BOUNTY</h1>
    
    <%= render 'form', listing: @listing %>
    
    <%= link_to 'Back', @listing, class: 'btn mt-5 text-center w-20 bg-red-700 hover:text-red-700' %>

</div>




